
body{
    padding: 20px;
}
.pip{
    display: flex;

}

.avatar{
    display: flex;
    margin-right: 16px;
    width: 60px;
    justify-content: right;
}

.text{
    text-align: left;
}

.button{
    display: flex;
    justify-content: right;
}