.post{
    padding: 20px;
    background-color: white;
}

.pip{
    display: flex;
}

.homebox h1{
    font-size: 24px;
}

.avatar{
    display: flex;
    margin-right: 16px;
    width: 60px;
    justify-content: right;
}

.button{
    display: flex;
    justify-content: right;
}