
.sidebar{
    width: 200px;
    height: 100vh;
    text-align: center;
    padding-top: 20px;
}

.logo{
    width: 50px;
}

figure{
    display: flex;
    align-items: center;
    justify-content: center;
}

figure h1{
    font-size: 30px;
    color: #1DA1F2;
}

.nav-link{
    color: none;
    color: black !important;
    font-size: none;
    font-size: 24px !important;
}
svg{
    color: #1DA1F2;
    width: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.profil-avatar{
    width: 40px;
}

